::-webkit-scrollbar { 
    display: none; 
}

html,
body {
	height: 100%;
	background: #efefef;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	box-sizing: border-box;
	background: red;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid black;
	transition: all .5s ease;
	height: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

footer {
	box-sizing: border-box;
	background: yellow;
	width: 100%;
	padding: 5px;
	border-top: 1px solid black;
	transition: all .5s ease;
	height: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.wrapper {
	background: white;
	width: 100%;
	flex: 1;
	display: flex;
	height: 100%;
}

.wrapper > div {
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	transition: all .5s ease;
}

.wrapper div span {
	text-transform: uppercase;
	font-weight: bold;
}

.center {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f5f3f3;
	padding: 10px;
	margin: 20px;
	border: 1px solid black;
}

.left,
.right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10em;
	background: #cbfdf6;
}

.left {
	border-right: 1px solid black;
}

.right {
	border-left: 1px solid black;
}

.center span {
	background: black;
	color: white;
	padding: 50px;
	border-radius: 5px;
}

/*default end*/

header:hover,
footer:hover {
	height: 5em;
	cursor: pointer;
}

.left:hover,
.right:hover {
	width: 20em;
	cursor: pointer;
}

@media all and (max-width: 769px) {
	header,
	footer {
		font-size: .8em;
	}
	.left,
	.right {
		width: 5em;
		font-size: .8em;
	}
}	

@media all and (max-width: 480px) {
	.wrapper {
		flex-direction: column;
	}

	.wrapper > div {
		/*flex: 1;*/
		width: 100%;
		border: none;
	}

	.wrapper .center {
		margin: 0;
		border-top: 1px solid black;
	}

	.left:hover {
		width: 100%;
	}

	.right {
		display: none;
	}
}
