/* required css */
/* hiding chrome scrollbar */
::-webkit-scrollbar { 
    display: none; 
}
body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}
.wrapper {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 0;
}
.column {
    height: 100%;
/*     box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column; */
}
.main-content {
  background: white;
  display: flex;
  flex-grow: 1;
  position: relative;
}


/* left and right panel widths */
.left-panel {
  background: #2185d0;
  width: 15em;
  transition: all .5s ease;
}
.right-panel {
/*   background: #999; */
  background: #f5f5f5;
  width: 25em;
  transition: all .5s ease;
  left:0 !important;
  padding-bottom: 30px;
  border-left: 1px solid #aaa;
}

.right-panel .panel-content {
  min-width: 350px;
}
.panel-content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.left-panel.collapse,
.right-panel.collapse {
  width: 60px;
}


/* visual styling */
.main-content h2 {
  color: black;
}
h2 {
  color: white;
  padding: 20px;
}
.wrapper > div {
  text-align: center;
}

.global,
.secondary,
.action-bar {
  height: 3em;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

footer {
  text-align: center;
    border-top: 1px solid #999;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 9999;
    max-height: 20px;
}

.spacer {
  width: 100%;
  padding: 20px;
}

.spacer div {
  border: 1px solid black;
  min-height: 300px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}


/* ------------------panel config */
.secondary {
  position: relative;
}
.panel-actions {
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0 20px;
}

.right-panel.closed {
  width: 0 !important;
}


.action-bar {
  margin: 0;
  padding: 10px 150px;
/*   height: auto;  default */ 
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  z-index: 99;
  width: 100%;
  transition: all .5s ease;
/*   min-width: 1280px; */
/*   custom */
  background: red;
}

/* space for action bar */
.main-content .panel-content {
  padding-top: 40px;
}

/* ------------------blog refactor------------------ */
ul {
  margin: 0;
  padding: 10px 0 0;
}
ul li {
  list-style: none;
  padding: 0 10px;
  text-align: left;
  margin-bottom: 10px;
}



.right-panel .segment {
  margin: 10px;
  padding: 0;
}

.ui.secondary.pointing.menu {
  background: #f5f5f5;
/*   border-left: 1px solid #aaa; */
}

.ui.secondary.pointing.menu .item {
  width: 50%;
  display: inline;
}

.ui.form {
  padding: 0 10px;
}

.fields {
  margin: 0 !important;
}

.field {
  padding: 0 !important;
}

.actions {
/*   margin-left: 10px; */
  min-width: 100px;
  max-width: 100px;
}

.ui.feed>.event.event {
  padding: 10px;
}

.ui.tab {
  overflow: hidden
}

.alert-tab .ui.feed {
  padding: 0 10px;
}

.alert-tab .ui.feed>.event.event {
    margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: white;
}

.ui.input {
/*   width: 100%; */
}

.icon.minus {
  color: red;
}

.icon.exclamation {
  color: #f7b000;
}

.notifications-tab .ui.feed {
  padding: 0 10px;
}

.notifications-tab .ui.feed .event {
  background: white;
  border: 1px solid #aaa;
  border-bottom: none;
  font-size: 12px;
}

.notifications-tab .ui.feed .event:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;  
}

.notifications-tab .ui.feed .event:last-child {
  border-bottom: 1px solid #aaa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.ui.feed > .event > .content .meta,
.ui.feed>.event>.content .summary>.date {
  float: right;
}

.feed-actions {
  margin-left: -50px;
  margin-top: 40px;
}

.feed-actions .ui.form {
  padding: 0;
}

.feed-actions .ui.form .ui.input {
  width: 100%;
}

.feed-actions .ui.form .ui.input i {
  cursor: pointer;
  pointer-events: all;
  background: cornflowerblue;
  color: white; 
}

.feed-actions .ui.form .ui.input:after,
.feed-actions .ui.form .ui.input:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 14px;
    top: -13px;
    right: 60px;
}

.feed-actions .ui.form .ui.input:after {
    border-color: white transparent;  
}
.feed-actions .ui.form .ui.input:before {
    border-color: #7F7F7F transparent;
}

.feed-actions .ui.form .ui.input:focus:before {
    border-color: #85b7d9 transparent;
}

.input {
  position: relative;
}

.input .search {
  position: absolute;
    right: -340px;
    opacity: 0;
    transition: all .5s ease !important;
    width: 100% !important;
}
.input .search.active {
  right: 0;
  opacity: 1;
}
  